.slick-header.ui-state-default, .slick-headerrow.ui-state-default {
  height: 33px !important;
  font-weight: bold !important;
  font-size: 12px !important;
}

.slick-header-columns, .slick-headerrow-columns {
  height: 33px !important;
}

.slick-header-column.ui-state-default {
  height: 32px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.slick-cell {
  font-size: 12px !important;
  padding-right: 10px !important;
  padding-left: 10px !important;
  padding-top: 3.35px !important;
}

.slick-cell.flashing {
  border: 1px solid red !important;
}

.slick-cell, .slick-headerrow-column {
  border: 0;
  border-right: 1px solid silver;
}

.slick-header-column > .slick-column-name {
  margin-top: 8px;
  position: absolute;
  width: calc(100% - 33px);
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

.slick-header-column > .slick-sort-indicator {
  float: right !important;
  height: 100% !important;
  margin: 0 !important;
}

.slick-header-column > .slick-sort-indicator.slick-sort-indicator-desc {
  padding-top: 8px !important;
}

.slick-header-column > .slick-sort-indicator.slick-sort-indicator-asc {
  padding-top: 13px !important;
}

.slick-header-columns {
  background-color: #f6f7f8;
  background-image: -webkit-linear-gradient(#fff,#efefef);
  background-image: linear-gradient(#fff,#efefef);
  border-bottom: 1px solid silver;
}

.slick-header-column {
  background-color: #f6f7f8;
  background-image: -webkit-linear-gradient(#fff,#efefef);
  background-image: linear-gradient(#fff,#efefef);
  border-right: 1px solid silver;
}

.slick-header-column.ui-state-hover {
  background-color: #dddddf;
  background-image: -webkit-linear-gradient(#fff,#dddddf);
  background-image: linear-gradient(#fff,#dddddf);
}

.slick-header-column.ui-state-default {
  padding: 0;
  border-bottom: 1px solid silver;
}

.slick-sortable-placeholder {
  background: silver !important;
}

.slick-row:hover {
  background-color: #E0EEFF;
}

.slick-row.active .slick-cell {
  background-color: #cce2ff;
  font-weight: bold;
}
